@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";

.container-global {
  display: flex;
  height: 100vh;
  .content-signup {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include media(laptop) {
      width: 82%;
    }
    &::before {
      content: "";
      position: fixed;
      left: 0;
      right: 0;
      z-index: -1;
      display: block;
      background-image: url("../../../assets/img/bg-signup.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 100vh;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px 25px;
      border-radius: 5px;
      z-index: 9999;
      @include media(miniphone) {
        padding: 30px 10px;
      }
      @include media(tablet) {
        padding: 30px 50px;
      }
      h2 {
        font-family: "poppins-semibold";
        font-size: 1.1rem;
        margin-bottom: 27px;
      }
      .inputs {
        display: flex;
        flex-direction: column;
        label {
          font-family: "poppins-medium";
          margin-bottom: 12px;
          font-size: 0.9rem;
        }
        .marge-more {
          margin-top: 12px;
        }
        input {
          font-family: "poppins-regular";
          width: 265px;
          height: 33px;
          border-radius: 5px;
          padding-left: 10px;
          font-size: 0.8rem;
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .signin {
          margin: 24px 0 20px 0;
          button {
            font-family: "poppins-bold";
            width: 265px;
            height: 33px;
            background: #2da043;
            color: $beige;
            border: none;
            border-radius: 5px;
            &:hover {
              background: #207730;
            }
          }
        }
      }
    }
    .signin {
      padding-top: 10px;
      p {
        font-family: "poppins-medium";
        font-size: 0.9rem;
        text-shadow: 1px 1px 2px grey;
        @include media(tablet) {
          font-size: initial;
        }
        span {
          font-family: "poppins-bold";
          color: red;
          text-decoration: underline;
          text-shadow: none;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
